---
layout: default
title: Allershopping Orders
---
<div class="page-header">
  <h1>Orders <small>overview</small></h1>
</div>

{% include orders-search.html %}

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>
            Dato
          </th>
          <th>Kundenavn</th>
          <th>Email Kunde</th>
          <th>Ordresum Totalt</th>
          <th>
            Status
          </th>
          <th>Handlinger</th>
          <th>Shop</th>
          <th>Betalingsmåte</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      {% for order in site.data.orders %}
        <tr>
          <td>
            <div style="white-space: nowrap;">
              <a href="order/{{ order.id }}">{{ order.id }}</a>
              {% if order.combined == 1 %}
              <span title="Kombinert ordre" class="label label-info"><span class="glyphicon glyphicon-list"></span>&nbsp;</span>
              {% endif %}
            </div>
          </td>
          <td>{{ order.date | date: "%d/%m/%Y %H:%M" }}</td>
          <td><a href="user/{{ order.user.id }}">{{ order.paymentinfo.name }}</a></td>
          <td>{{ order.user.email }}</td>
          <td style="text-align: left">{{ order.total }}</td>
          <td>
            {% if order.status == "completed" %}
            <span class="label label-success">OK</span>
            {% else order.status == "manual" %}
            <span class="label label-danger">IKKE FERDIG</span>
            {% endif %}
          </td>
          <td>
            {% if order.paymentmethod == 'Invoice' and order.status == "manual" %}
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#modalInvoice">Lag faktura</button>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 0 %}
            <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-right"></span></span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 1 %}
            <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-left"></span></span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 2 %}
            <span class="label label-success">Ekspedert</span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.shop == "Mineblader" %}
            <span class="label label-warning">Avventer</span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" %}
            <span class="label label-warning">Bekreft</span>
            {% elsif order.status == "completed" %}
            <span class="label label-success">OK</span>
            {% endif %}
          </td>
          <td>{{ order.shop }}</td>
          <td>
            {% if order.paymentmethod == 'Invoice' %}
              Faktura
            {% elsif order.paymentmethod == 'DIBS' %}
              Kort
            {% endif %}
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Rediger <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a onclick="$(this).openEditForm();">Hurtigredigering</a></li>
                <li class="divider"></li>
                <li><a href="order/{{ order.id }}">Se</a></li>
                <li><a href="order/{{ order.id }}">Rediger</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr class="edit-form hide">
          <td colspan="11">
            <div class="well">
              <button type="button" class="close" onclick="$(this).closeEditForm();" aria-hidden="true">&times;</button>
              {% include order-items.html param=order %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="center-block">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>      
    </div>
  </div>
</div>