---
layout: default
title: Allershopping Orders
---
<div class="page-header">
  <h1>Orders <small>overview</small></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="searchStatus">Status</label>
        <select class="form-control" id="searchStatus" placeholder="Status">
          <option>- Status -</option>
          <option>OK</option>
          <option>Ikke ferdig</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchActions">Handlinger</label>
        <select class="form-control" id="searchActions" placeholder="Actions">
          <option>- Handlinger -</option>
          <option>OK</option>
          <option>Bekreft</option>
          <option>Lag Faktura</option>
          <option>Avventer</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchShop">Shop</label>
        <select class="form-control" id="searchShop" placeholder="Shop">
          <option>- Shop -</option>
          <option>Mineblader</option>
          <option>Allerbok</option>
          <option>AllersShop</option>
          <option>KKShop</option>
          <option>Vi Over 60</option>
          <option>SE Shop</option>
          <option>JegetTorget</option>
          <option>Super Fordel</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchPayment">Handlinger</label>
        <select class="form-control" id="searchPayment" placeholder="Payment">
          <option>- Betalingsmåte -</option>
          <option>Kort</option>
          <option>Faktura</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchStartDate">Startdato</label>
        <input class="form-control" id="searchStartDate" placeholder="Startdato">
      </div>
      <div class="form-group">
        <label class="sr-only" for="searchEndDate">Sluttdato</label>
        <input class="form-control" id="searchEndDate" placeholder="Sluttdato">
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchMisc">ID, email, navn</label>
        <input class="form-control" id="searchMisc" placeholder="ID, email, navn">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Søk</button>
    </form>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>
            Dato
          </th>
          <th>Kundenavn</th>
          <th>Kundeid</th>
          <th>Email Kunde</th>
          <th>Ordresum Totalt</th>
          <th>
            Status
          </th>
          <th>Handlinger</th>
          <th>Shop</th>
          <th>Betalingsmåte</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      {% for order in site.data.orders %}
        <tr>
          <td>
            <div style="white-space: nowrap;">
              <a href="order/{{ order.id }}">{{ order.id }}</a>
              {% if order.combined == 1 %}
              <span title="Kombinert ordre" class="label label-info"><span class="glyphicon glyphicon-list"></span>&nbsp;</span>
              {% endif %}
            </div>
          </td>
          <td>{{ order.date | date: "%d/%m/%Y %H:%M" }}</td>
          <td>{{ order.username }}</td>
          <td>{{ order.userid }}</td>
          <td>{{ order.useremail }}</td>
          <td>{{ order.total }}</td>
          <td>
            {% if order.status == "completed" %}
            <span class="label label-success">OK</span>
            {% else order.status == "manual" %}
            <span class="label label-danger">IKKE FERDIG</span>
            {% endif %}
          </td>
          <td>
            {% if order.paymentmethod == 'Invoice' and order.status == "manual" %}
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#modalInvoice">Lag faktura</button>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 0 %}
            <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-right"></span></span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 1 %}
            <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-left"></span></span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.ide == 2 %}
            <span class="label label-success">Ekspedert</span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" and order.shop == "Mineblader" %}
            <span class="label label-warning">Avventer</span>
            {% elsif order.paymentmethod == 'DIBS' and order.status == "manual" %}
            <button class="btn btn-sm btn-default">Bekreft</button>
            {% elsif order.status == "completed" %}
            <span class="label label-success">OK</span>
            {% endif %}            
          </td>
          <td>{{ order.shop }}</td>
          <td>
            {% if order.paymentmethod == 'Invoice' %}
              Faktura
            {% elsif order.paymentmethod == 'DIBS' %}
              Kort
            {% endif %}
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Rediger <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a onclick="$(this).openEditForm();">Hurtigredigering</a></li>
                <li class="divider"></li>
                <li><a href="order/{{ order.id }}">Se</a></li>
                <li><a href="order/{{ order.id }}/edit">Rediger</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr class="edit-form hide">
          <td colspan="11">
            <div class="well">
              <button type="button" class="close" onclick="$(this).closeEditForm();" aria-hidden="true">&times;</button>
              {% include inline-order.html param=order %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="center-block">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>      
    </div>
  </div>
</div>

<!-- Modal Invoice -->
<div class="modal fade" id="modalInvoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lag faktura?</h4>
      </div>
      <div class="modal-body">
        Invoice text goes here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nei</button>
        <button type="button" class="btn btn-primary">Ja</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->