<h2></h2>
<table class="table">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Tittel</th>
      <th>Enhetspris</th>
      <th>Antall</th>
      <th>Totalt</th>
      <th>Shop</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for item in include.param.items %}
    <tr>
      <td>{{ item.sku }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.total }}</td>
      <td>{{ item.shop }}</td>
      <td>
          {% if include.param.paymentmethod == 'Invoice' and item.status == "manual" %}
          <button class="btn btn-sm btn-default">Lag faktura</button>
          {% elsif include.param.paymentmethod == 'DIBS' and item.status == "manual" and item.ide == 0 %}
          <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-right"></span></span>
          {% elsif include.param.paymentmethod == 'DIBS' and item.status == "manual" and item.ide == 1 %}
          <span class="label label-warning">Avventer <span class="glyphicon glyphicon-arrow-left"></span></span>
          {% elsif include.param.paymentmethod == 'DIBS' and item.status == "manual" and item.ide == 2 %}
          <span class="label label-success">Ekspedert</span>
          {% elsif include.param.paymentmethod == 'DIBS' and item.status == "manual" and item.shop == "Mineblader" %}
          <span class="label label-warning">Avventer</span>
          {% elsif include.param.paymentmethod == 'DIBS' and item.status == "manual" %}
          <button class="btn btn-sm btn-default">Bekreft</button>
          {% elsif item.status == "completed" %}
          <span class="label label-success">OK</span>
          {% endif %}        
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="row">
  <div class="col-md-3">
    <div>Postadresse:</div>
    <address>
      <strong>Bente  Rom Øysæd</strong><br>
      Botnåsveien 21<br>
      4480  Kvinesdal<br>
      Norge<br>
      <abbr title="Mobiltelefon">M:</abbr> +47 91174881
    </address>    
  </div>
  <div class="col-md-3">
    <div>Betalingsinformasjon:</div>
    <address>
      <strong>Mona  Nilsen</strong><br>
      Hamreveien 40<br>
      4480  Kvinesdal<br>
      Norge<br>
      <abbr title="Mobiltelefon">M:</abbr> +47 91174881
    </address>    
  </div>
</div>

<!--
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Save</button>
</form>
-->