<div class="row">
  <div class="col-md-12">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="searchStatus">Status</label>
        <select class="form-control" id="searchStatus" placeholder="Status">
          <option>- Status -</option>
          <option>OK</option>
          <option>Ikke ferdig</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchActions">Handlinger</label>
        <select class="form-control" id="searchActions" placeholder="Actions">
          <option>- Handlinger -</option>
          <option>OK</option>
          <option>Bekreft</option>
          <option>Lag Faktura</option>
          <option>Avventer</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchShop">Shop</label>
        <select class="form-control" id="searchShop" placeholder="Shop">
          <option>- Shop -</option>
          <option>Mineblader</option>
          <option>Allerbok</option>
          <option>AllersShop</option>
          <option>KKShop</option>
          <option>Vi Over 60</option>
          <option>SE Shop</option>
          <option>JegetTorget</option>
          <option>Super Fordel</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchPayment">Handlinger</label>
        <select class="form-control" id="searchPayment" placeholder="Payment">
          <option>- Betalingsmåte -</option>
          <option>Kort</option>
          <option>Faktura</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchStartDate">Startdato</label>
        <input class="form-control" id="searchStartDate" placeholder="Startdato">
      </div>
      <div class="form-group">
        <label class="sr-only" for="searchEndDate">Sluttdato</label>
        <input class="form-control" id="searchEndDate" placeholder="Sluttdato">
      </div>

      <div class="form-group">
        <label class="sr-only" for="searchMisc">ID, email, navn</label>
        <input class="form-control" id="searchMisc" placeholder="ID, email, navn">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Søk</button>
    </form>
  </div>
</div>