---
layout: default
---
<div class="page-header">
  <h1><a href="/"><small><span class="glyphicon glyphicon-chevron-left"></span></small></a>&nbsp;</span>Ordre {{ page.order.id }}</small></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Vis</a></li>
  <li><a href="#">Rediger</a></li>
  <li><a href="#">PDF eksport</a></li>
  <li><a href="#">Betaling</a></li>
  <li><a href="#">Historik</a></li>
  <li><a href="#">MediaConnect</a></li>
</ul>

<div class="order">
{% include inline-order.html param=page.order %}
</div>
